In [1]:
import pandas as pd

# Task 1 - Conceptual Data Pipeline Planing (max. 10-15 min)

# Task 2 - Data Exploration and Validation (max. 10-15 min)

Below you find a simulated data set from smart watches and it is your job to validate the data so you can let the clinicians now if they need to talk to the patients and make sure further measurements are better. How would you do that?
Look at the data for a minute or two, decide on one function and write it (max. 10-15 min). Either explain your thought process while coding or - if it is easier - afterward.

You can use any online aid available as you would in normal coding.

In [2]:
df = pd.read_csv('data/apple_watch_patients_cleaned.csv')

In [4]:
df

,patient_id,gender,age,date,resting_heart_rate,km_walked,oxygen_saturation
0,1,M,49,2025-01-01,72.3,6.69,NaN
1,1,M,49,2025-01-02,71.7,2.57,NaN
2,1,M,49,2025-01-03,80.5,7.65,97.7
3,1,M,49,2025-01-04,60.5,3.50,NaN
4,1,M,49,2025-01-05,58.7,6.54,NaN
...,...,...,...,...,...,...,...
1789,200,M,53,2025-01-06,83.6,5.05,97.0
1790,200,M,53,2025-01-07,77.4,5.10,NaN
1791,200,M,53,2025-01-08,76.4,7.16,NaN
1792,200,M,53,2025-01-09,66.7,1.55,96.2
1793,200,M,53,2025-01-10,82.1,4.93,NaN